# general modules
django==3.2
python-decouple==3.8
pillow
djangorestframework

# third party modules
markdown 
django-filter
drf-yasg[validation]
rest_framework_simplejwt

# email thirdparty modules
django-mail-templated